.env
cover.out
dbml-error.log

vendor
doc/*
internal/db/mock

internal/db/sqlc/db.go
internal/db/sqlc/models.go
internal/db/sqlc/querier.go
internal/db/sqlc/*.sql.go

!doc/db.dbml
!internal/db/sqlc/.keep
!internal/db/mock/.keep
