.env
cover.out
dbml-error.log

tmp
vendor
doc/*
internal/db/mock/*
internal/pb/*

internal/db/sqlc/db.go
internal/db/sqlc/models.go
internal/db/sqlc/querier.go
internal/db/sqlc/*.sql.go

!doc/db.dbml
!internal/db/mock/.keep
!internal/pb/.keep
